@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  width: 100%;
}

:root {
  --radius: 8px;
}

@layer utilities {
  /* BUTTONS */
  .btn-small {
    @apply px-2 py-1;
  }
  .btn-medium {
    @apply px-5 py-2;
  }
  .btn-base {
    @apply flex  items-center justify-center gap-2 rounded-full text-white shadow-lg transition-all duration-300  focus:outline-none;
  }
  .btn-flat {
    @apply bg-slate-100 p-3 gap-2 border border-white text-primary-500;
  }

  .btn-outline {
    @apply border bg-transparent border-black text-black hover:bg-slate-200 dark:bg-dark-300 !important;
  }
  .btn-outline-white {
    @apply border bg-transparent border-white text-white;
  }

  .btn-ghost {
    @apply bg-transparent border-none text-gray-700 shadow-none  hover:shadow-none p-0 m-0 hover:scale-x-100 h-fit;
  }
  .btn-ghost-white {
    @apply bg-transparent border-none text-white   shadow-none  hover:shadow-none p-0 m-0 hover:scale-x-100 h-fit;
  }

  .btn-primary {
    @apply bg-gradient-to-r from-indigo-500 to-purple-600;
  }
  .btn-secondary {
    @apply bg-gradient-to-r from-purple-600 text-primary-500;
  }
  .btn-tertiary {
    @apply bg-gradient-to-br from-purple-600 to-pink-500;
  }
  .btn-danger {
    @apply bg-gradient-to-r from-red-500 to-pink-600;
  }
  .btn-warning {
    @apply bg-gradient-to-r  from-yellow-500 to-orange-500;
  }
  .btn-confirm {
    @apply bg-gradient-to-r  from-green-500 to-teal-700;
  }
  .btn-loading {
    @apply opacity-70 cursor-not-allowed;
  }

  /* BADGE */
  .badge-base {
    @apply flex items-center rounded-full bg-gradient-to-r  px-3 py-1 text-white gap-2;
  }
  .badge-primary {
    @apply bg-gradient-to-r from-indigo-500 to-purple-600;
  }
  .badge-success {
    @apply bg-gradient-to-r  from-green-500 to-teal-700;
  }
  .badge-warning {
    @apply bg-gradient-to-r  from-yellow-500 to-orange-500;
  }
  .badge-danger {
    @apply bg-gradient-to-r from-red-500 to-pink-600;
  }
  .badge-default {
    @apply bg-gradient-to-r from-gray-400 to-gray-600 font-bold;
  }
  .badge-info {
    @apply bg-gradient-to-r from-blue-400 to-teal-600 font-bold;
  }
  /* INPUTS / TEXTAREA / SELECTS */
  .input-base-fe {
    @apply flex justify-between items-center rounded-xl border border-gray-600 bg-white p-3 text-gray-900 shadow-md transition-all focus:border-blue-500 focus:ring focus:ring-blue-300 disabled:cursor-not-allowed disabled:bg-gray-200;
  }

  /* Tabs */
  .tab-header {
    @apply border-b-2 border-indigo-600 text-indigo-600;
  }

  /* TEXT GRADIENT */
  .text-gradient-primary {
    @apply font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent;
  }

  /* BACKGROUNDS */

  .bg-p {
    @apply bg-gradient-to-r from-indigo-500 to-purple-600 text-white;
  }
  .bg-p-reverse {
    @apply bg-gradient-to-r to-indigo-500 from-purple-600 text-white;
  }
  .bg-s {
    @apply bg-gradient-to-r from-orange-400 via-pink-500 to-purple-500;
  }

  .max-w-8xl {
    max-width: 87.5rem;
  }
  .wrapper {
    @apply max-w-8xl w-full lg:mx-auto md:px-10 sm:px-6 px-4;
  }

  .background-light850_dark100 {
    @apply bg-light-850 dark:bg-dark-100;
  }

  .background-light900_dark200 {
    @apply bg-light-900 dark:bg-dark-200;
  }

  .background-light900_dark300 {
    @apply bg-light-900 dark:bg-dark-300;
  }

  .background-light800_darkgradient {
    @apply bg-light-800 dark:dark-gradient;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  .background-light700_dark400 {
    @apply bg-light-700 dark:bg-dark-400;
  }

  .background-light700_dark300 {
    @apply bg-light-700 dark:bg-dark-300;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400;
  }

  .background-light800_dark300 {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }

  .background-light800_dark200 {
    @apply bg-light-800 dark:bg-dark-200;
  }

  .background-dark400_light900 {
    @apply dark:bg-dark-400 bg-light-900 !important;
  }

  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900 !important;
  }

  .text-dark200_light900 {
    @apply text-dark-600 dark:text-light-900;
  }

  .text-dark200_light800 {
    @apply text-dark-200 dark:text-light-800 !important;
  }

  .text-dark300_light700 {
    @apply text-dark-300 dark:text-light-700;
  }

  .text-dark400_light700 {
    @apply text-dark-400 dark:text-light-700;
  }

  .text-dark500_light700 {
    @apply text-dark-500 dark:text-light-700 !important;
  }

  .text-dark500_light500 {
    @apply text-dark-500 dark:text-light-500;
  }

  .text-dark500_light400 {
    @apply text-dark-500 dark:text-light-400;
  }

  .text-dark300_light900 {
    @apply text-dark-300 dark:text-light-900 !important;
  }

  .text-dark400_light800 {
    @apply text-dark-400 dark:text-light-800;
  }

  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }

  .text-dark400_light500 {
    @apply text-dark-400 dark:text-light-500;
  }

  .text-dark400_light900 {
    @apply text-dark-400 dark:text-light-900 !important;
  }

  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }

  .light-border {
    @apply border-light-800 dark:border-dark-300;
  }

  .light-border-2 {
    @apply border-light-700 dark:border-dark-400 !important;
  }

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .body-bold {
    @apply text-[14px] font-bold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .placeholder {
    @apply placeholder:text-light-400 dark:placeholder:text-light-500;
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .shadow-light100_dark100 {
    @apply shadow-light-100 dark:shadow-dark-100;
  }

  .shadow-light100_darknone {
    @apply shadow-light-100 dark:shadow-none;
  }
  .primary-gradient {
    background: linear-gradient(129deg, #ff8fe9 0%, #28486e 100%);
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }

  .light-gradient {
    background: linear-gradient(
      132deg,
      rgba(247, 249, 255, 0.5) 0%,
      rgba(229, 237, 255, 0.25) 100%
    );
  }

  .primary-text-gradient {
    background: linear-gradient(129deg, #ff8fe9 0%, #28486e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .card-wrapper {
    @apply bg-light-900 dark:dark-gradient shadow-light-100 dark:shadow-dark-100;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .animate-float-slow {
    animation: float 10s ease-in-out infinite;
  }
  .animate-float-medium {
    animation: float 7s ease-in-out infinite;
  }
  .animate-float-fast {
    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%) !important;
}

.dragging {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}
.hash-span {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

.mdxeditor-toolbar {
  background: #ffffff !important;
}

.dark .mdxeditor-toolbar {
  background: #151821 !important;
}

.dark .mdxeditor-toolbar button svg {
  color: #858ead !important;
}

.dark .mdxeditor-toolbar button:hover svg {
  color: #231522 !important;
}

.dark .mdxeditor-toolbar [role="separator"] {
  border-color: #555 !important;
}

.markdown a {
  color: #1da1f2;
}

.markdown a,
code {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  padding: 2px;
  color: #ff8fe9 !important;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;

  color: inherit !important;
}

[data-lexical-editor="true"] {
  height: 350px !important;
  overflow-y: auto !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  /*  * {
    @apply border-border outline-ring/50;
  } */
  /* body {
    @apply bg-background text-foreground;
  } */
}
